<a href="https://colab.research.google.com/github/Ps1231/Coding-in-Python/blob/main/Internal_1_Priyanshi_Soni_(IT_2K21_45).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [92]:
print("Lab Internal I")
print("Priyanshi soni")
print("IT-2K21-45")
print("Integrated MTech - IT, 4th Semester")
print("PYTHON LAB INTERNAL EXERCISE")

Lab Internal I
Priyanshi soni
IT-2K21-45
Integrated MTech - IT, 4th Semester
PYTHON LAB INTERNAL EXERCISE

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
# Implementation of all arithmetic logical and relational operators in python

num1 = float(input('Enter Frst no. : '))
num2 = float(input('Enter Another no. : '))
print()
print('Arithemetic Operators : ')
print()
print ("Sum: ",num1+num2)
print ("Product: ",num1*num2) 
print ("Difference: ",num1-num2)
print ("Division: ",num1 / num2)
print ("Remainder: ",num1%num2)
print ("Exponenttiation: ",num1**num2)
print ("Floor Division: ",num1//num2)
print()
print('Comparision Operators : ')
print()
print ("Equal? ",num1==num2)
print ("Greater number: ",num1>num2)
print ("Lesser number ",num1<num2)
print ("num1 Greater than or Equal to num2 ? ",num1>=num2)
print ("num1 Less than or Equal to num2 ? ",num1<=num2)
print ("num1 not Equal to num2 ? ",num1!=num2)
print()
print('Logical Operators : ')
print()
print("num1 > num2 and num1==num2 ? ",num1 > num2 and num1==num2)
print("num1<num2 or num1>num2 ? ",num1<num2 or num1>num2)
print("not(num1<=num2 and num1>=num2) ? ",not(num1<=num2 and num1>=num2))

Enter Frst no. : 22
Enter Another no. : 33

Arithemetic Operators :

Sum:  55.0
Product:  726.0
Difference:  -11.0
Division:  0.6666666666666666
Remainder:  22.0
Exponenttiation:  1.9950255735593596e+44
Floor Division:  0.0

Comparision Operators :

Equal?  False
Greater number:  False
Lesser number  True
num1 Greater than or Equal to num2 ?  False
num1 Less than or Equal to num2 ?  True
num1 not Equal to num2 ?  True

Logical Operators :

num1 > num2 and num1==num2 ?  False
num1<num2 or num1>num2 ?  True
not(num1<=num2 and num1>=num2) ?  True

In [10]:
# Checking given number to be even or odd

a = int(input("Enter a number: "))  
if (a % 2) == 0:  
   print("{0} is Even number".format(a))  
else:  
   print("{0} is Odd number".format(a))

Enter a number: 22
22 is Even number

In [13]:
#  Finding the greatest of two numbers in python

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
if (num1 > num2) :
   largest = num1
else :
  largest = num2
print("The largest number is", largest)

Enter the first number: 22
Enter the second number: 33
The largest number is 33

In [14]:
#  Finding the greatest of three numbers in python

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))
if (num1 >= num2) and (num1 >= num3):
   largest = num1
elif (num2 >= num1) and (num2 >= num3):
   largest = num2
else:
   largest = num3

print("The largest number is", largest)

Enter the first number: 22
Enter the second number: 33
Enter the third number: 11
The largest number is 33

In [22]:
# Checking if the number is prime

flag=0
num1 = int(input("Enter the number: "))

if num1 >= 1:
	for i in range(2, int(num1/2)+1):
		if (num1 % i) == 0:
			flag+=1
	else:
		flag=0


# If the number is less than 1, its also not a prime number.
else:
	flag=0


if (flag>0):
  print(num1 ,"is a composite number")
else:
  print(num1 ,"is a prime number")

Enter the number: 13
13 is a prime number

In [25]:
# Printing all odd and even numbers in the given range

a=int(input("Enter the lower limit for the range:"))
b=int(input("Enter the upper limit for the range:"))
print("Odd numbers in given range: ")
for i in range(a,b+1):
    if(i%2!=0):
        print(i)
print("Even numbers in given range: ")
for i in range(a,b+1):
    if(i%2==0):
        print(i)

Enter the lower limit for the range:1
Enter the upper limit for the range:10
Odd numbers in given range:
1
3
5
7
9
Even numbers in given range:
2
4
6
8
10

In [26]:
# Printing all prime numbers in the given range

a=int(input("Enter the lower limit for the range:"))
b=int(input("Enter the upper limit for the range:"))
print("Prime numbers in given range: ")

for number in range (a,b + 1):  
    if number > 1:  
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number)

Enter the lower limit for the range:1
Enter the upper limit for the range:10
Prime numbers in given range:
2
3
5
7

In [28]:
# Finding reverse of a number

num1=int(input("Enter the number to be reversed :"))
rev=0
while num1 != 0:
    rem = num1 % 10
    rev= ((rev * 10)+ rem)
    num1 //= 10

print("Reversed Number: " + str(rev))

Enter the number to be reversed :1121
Reversed Number: 1211

In [29]:
# Finding if a number is palindrome

a=int(input("Enter the number to be reversed :"))
num1=a
rev=0
while num1 != 0:
    rem = num1 % 10
    rev= ((rev * 10)+ rem)
    num1 //= 10
if (a==rev):
  print(a,"is a Palindrome number" )
else:
  print(a,"is not a Palindrome number" )

Enter the number to be reversed :11211
11211 is a Palindrome number

In [30]:
# Checking if given number is an Armstrong number

num1=int(input("Enter the number to be cecked if armstrong:"))
a = num1
sum=0
while a> 0:
   rem =a % 10
   sum += rem ** 3
   a //= 10
if num1 == sum:
   print(num1,"is an Armstrong number")
else:
   print(num1,"is not an Armstrong number")

Enter the number to be cecked if armstrong:407
407 is an Armstrong number

In [59]:
# Printing Armstrong numbers in given range

import math
a=int(input("Enter the lower limit for the range:"))
b=int(input("Enter the upper limit for the range:"))
print("Armstrong numbers in given range: ")

temp=0

for i in range(a,b+1):
  order = len(str(i))
  sum = 0
  temp=i
  while (temp> 0):
    rem = temp % 10
    sum += rem ** order
    temp //= 10
  if (i == sum):
    print(i)

Enter the lower limit for the range:20
Enter the upper limit for the range:200
Armstrong numbers in given range:
153

In [48]:
# Sum of First N Natural Numbers

num1=int(input("Enter a number: "))
sum = 0
while(num1 > 0):
    sum=sum+num1
    num1=num1-1
print("The sum of first n natural numbers is",sum)

Enter a number: 5
The sum of first n natural numbers is 15

In [50]:
# Finding the Factorial of a Number

num1=int(input("Enter a number: "))
factorial = 1

# check if the number is negative, positive or zero
if num1 < 0:
   print("Sorry, factorial doesn't exist for negative numbers")
elif num1 == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num1 + 1):
       factorial = factorial*i
   print("The factorial of",num1 ,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

In [51]:
# generate fibonacci sequence

num1=int(input("Enter a number: "))
n1,n2=0,1
count=0

print("Fibonacci sequence upto",num1,":")


while count < num1:
  print(n1)
  nth = n1 + n2
  n1 = n2
  n2 = nth
  count += 1

Enter a number: 10
Fibonacci sequence upto 10 :
0
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [60]:
# Checking if the year is a leap year or not 

year = int(input("Enter a year: "))

if (year % 4 == 0):
    if (year % 100 == 0):
        if (year % 400 == 0):
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

Enter a year: 2000
2000 is a leap year

In [61]:
# Fahrenheit to Celsius conversion function
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    return celsius

# Celsius to Fahrenheit conversion function
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit

fahrenheit = 77
celsius = fahrenheit_to_celsius(fahrenheit)
print(fahrenheit, "F = ", celsius, "C")

# Convert Celsius to Fahrenheit
celsius = 25
fahrenheit = celsius_to_fahrenheit(celsius)
print(celsius, "C = ", fahrenheit, "F")

77 F =  25.0 C
25 C =  77.0 F

In [62]:
# Printing all the factors of the given number in python

def print_factors(num):
    print("Factors of", num, "are:")
    for i in range(1, num+1):
        if num % i == 0:
            print(i)
num = 20
print_factors(num)

Factors of 20 are:
1
2
4
5
10
20

In [63]:
# Converting decimal to binary , octal and hexadecimal using library function

dec = 100
binary = bin(dec)
print("The binary equivalent of", dec, "is", binary)
octal = oct(dec)
print("The octal equivalent of", dec, "is", octal)
hexadecimal = hex(dec)
print("The hexadecimal equivalent of", dec, "is", hexadecimal)

The binary equivalent of 100 is 0b1100100
The octal equivalent of 100 is 0o144
The hexadecimal equivalent of 100 is 0x64

In [64]:
# Finding factorial of a number using function

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
num = 5
fact = factorial(num)
print("Factorial of", num, "is", fact)

Factorial of 5 is 120

In [65]:
#fibonacci using recusion in python

def fibonacci(n):
    if n <= 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)
num_terms = 10

# generate Fibonacci sequence
fib_sequence = [fibonacci(i) for i in range(num_terms)]

# print sequence
print("Fibonacci sequence:")
for num in fib_sequence:
    print(num)

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [66]:
# Factorial using recursion

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
num = 5
fact = factorial(num)
print("Factorial of", num, "is", fact)

Factorial of 5 is 120

In [67]:
# First n natural numbers using recursion

def print_natural_numbers(n):
    if n > 0:
        print_natural_numbers(n-1)
        print(n, end=' ')
num = 10
print("First", num, "natural numbers:")
print_natural_numbers(num)

First 10 natural numbers:
1 2 3 4 5 6 7 8 9 10

In [68]:
# Converting decimal number to binary number using recursion

def decimal_to_binary(n):
    if n > 1:
        decimal_to_binary(n//2)
    print(n % 2, end='')
num = 19
print("Binary representation of", num, "is", end=' ')
decimal_to_binary(num)

Binary representation of 19 is 10011

In [69]:
# Program to display powers of 2 using anonymous function

num = 10

# using lambda function to calculate powers of 2
power_of_2 = lambda x: 2 ** x

# printing powers of 2 using anonymous function
print("Powers of 2 from 0 to", num)
for i in range(num+1):
    print(power_of_2(i), end=' ')

Powers of 2 from 0 to 10
1 2 4 8 16 32 64 128 256 512 1024

In [70]:
# Finding area of tringle cylinder circle using lambda function
 
 # lambda function to calculate area of triangle
area_triangle = lambda base, height: 0.5 * base * height

# lambda function to calculate area of cylinder
area_cylinder = lambda radius, height: 2 * 3.14 * radius * (radius + height)

# lambda function to calculate area of circle
area_circle = lambda radius: 3.14 * radius ** 2

# example usage of lambda functions
base = 10
height = 5
radius = 3
cylinder_height = 8

print("Area of triangle with base", base, "and height", height, "is", area_triangle(base, height))
print("Area of cylinder with radius", radius, "and height", cylinder_height, "is", area_cylinder(radius, cylinder_height))
print("Area of circle with radius", radius, "is", area_circle(radius))

Area of triangle with base 10 and height 5 is 25.0
Area of cylinder with radius 3 and height 8 is 207.24
Area of circle with radius 3 is 28.26

In [71]:
# Adding two matrices

# input matrices
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]

# initialize result matrix with zeros of same size as input matrices
result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# add corresponding elements of input matrices and store in result matrix
for i in range(len(matrix1)):
    for j in range(len(matrix1[0])):
        result[i][j] = matrix1[i][j] + matrix2[i][j]

# print result matrix
print("Result of matrix addition:")
for row in result:
    print(row)

Result of matrix addition:
[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [72]:
# Multiplication of two matrices

# input matrices
matrix1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
matrix2 = [[9, 8, 7], [6, 5, 4], [3, 2, 1]]

# initialize result matrix with zeros
result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# iterate over rows of matrix1
for i in range(len(matrix1)):
    # iterate over columns of matrix2
    for j in range(len(matrix2[0])):
        # iterate over rows of matrix2
        for k in range(len(matrix2)):
            # calculate element of result matrix
            result[i][j] += matrix1[i][k] * matrix2[k][j]

# print result matrix
print("Result of matrix multiplication:")
for row in result:
    print(row)

Result of matrix multiplication:
[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

In [73]:
# Transpose of matrix

matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

result = [[0, 0, 0], [0, 0, 0], [0, 0, 0]]

for i in range(len(matrix)):
    for j in range(len(matrix[0])):
    
        result[j][i] = matrix[i][j]

print("Result of matrix transposition:")
for row in result:
    print(row)

Result of matrix transposition:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

In [74]:
# Average of numeric list


numbers = [10, 20, 30, 40, 50]

sum = 0
for num in numbers:
    sum += num

average = sum / len(numbers)

print("Average of the list:", average)

Average of the list: 30.0

In [75]:
# Using different variations of slicing operations

print("Basic slicing:")
my_list = [1, 2, 3, 4, 5]
result = my_list[0:3]
print(result)  # Output: [1, 2, 3]

print("Extended slicing:")
my_list = [1, 2, 3, 4, 5]
result = my_list[::2]
print(result)  # Output: [1, 3, 5]

print("Negative slicing:")
my_list = [1, 2, 3, 4, 5]
result = my_list[-3:]
print(result)  # Output: [3, 4, 5]

print("Reversed slicing:")
my_list = [1, 2, 3, 4, 5]
result = my_list[-1:-4:-1]
print(result)  # Output: [5, 4, 3]

print("Step  slicing:")
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
result = my_list[1::3]
print(result)  # Output: [2, 5, 8]

Basic slicing:
[1, 2, 3]
Extended slicing:
[1, 3, 5]
Negative slicing:
[3, 4, 5]
Reversed slicing:
[5, 4, 3]
Step  slicing:
[2, 5, 8]

In [76]:
# Concatrnate two lists

list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)

[1, 2, 3, 4, 5, 6]

In [77]:
# Finding index and no of appearances of a given number in the numeric list

my_list = [1, 2, 3, 4, 1, 2, 1, 4, 5]
element = 1

# Finding the index of the first occurrence of the element
index = my_list.index(element)
print(f"The index of the first occurrence of {element} is {index}")

# Finding the number of appearances of the element
count = my_list.count(element)
print(f"The element {element} appears {count} times in the list")

The index of the first occurrence of 1 is 0
The element 1 appears 3 times in the list

In [79]:
# Identify duplicates in the list

my_list = [1, 2, 3, 4, 1, 2, 1, 4, 5]
duplicates = []

for i in my_list:
    if my_list.count(i) > 1 and i not in duplicates:
        duplicates.append(i)

print("The duplicates in the list are: ", duplicates)

The duplicates in the list are:  [1, 2, 4]

In [80]:
# Program to iterate over dictionary using loop. Print all the keys, values, items with and without using built in functions

my_dict = {"apple": 5, "banana": 10, "orange": 7}

# Using a for loop to print all the keys in the dictionary
print("Keys:")
for key in my_dict:
    print(key)

# Using a for loop to print all the values in the dictionary
print("\nValues:")
for key in my_dict:
    print(my_dict[key])

# Using a for loop to print all the items in the dictionary
print("\nItems:")
for key in my_dict:
    print(key, my_dict[key])

# Using built-in functions to print all the keys, values, and items in the dictionary
print("\nKeys:")
print(my_dict.keys())

print("\nValues:")
print(my_dict.values())

print("\nItems:")
print(my_dict.items())

Keys:
apple
banana
orange

Values:
5
10
7

Items:
apple 5
banana 10
orange 7

Keys:
dict_keys(['apple', 'banana', 'orange'])

Values:
dict_values([5, 10, 7])

Items:
dict_items([('apple', 5), ('banana', 10), ('orange', 7)])

In [82]:
# Illustrate nested dictionary

employee_data = {
    "Alice": {
        "age": 25,
        "department": "Sales",
        "salary": 50000
    },
    "Bob": {
        "age": 30,
        "department": "Marketing",
        "salary": 60000
    },
    "Charlie": {
        "age": 35,
        "department": "Operations",
        "salary": 70000
    }
}
for name, data in employee_data.items():
    print(name)
    for key, value in data.items():
        print(key, value)
    print()

Alice
age 25
department Sales
salary 50000

Bob
age 30
department Marketing
salary 60000

Charlie
age 35
department Operations
salary 70000

In [83]:
# Sorting Dictionary according to keys and according to values

print("Sorting by keys:")
my_dict = {'a': 3, 'c': 1, 'b': 2}
sorted_dict = dict(sorted(my_dict.items()))
print(sorted_dict)  

print ("Sorting by values:")
sorted_dict = dict(sorted(my_dict.items(), key=lambda x: x[1]))
print(sorted_dict)  

print ("Sorting in descending order:")
sorted_dict = dict(sorted(my_dict.items(), key=lambda x: x[1], reverse=True))
print(sorted_dict)

Sorting by keys:
{'a': 3, 'b': 2, 'c': 1}
Sorting by values:
{'c': 1, 'b': 2, 'a': 3}
Sorting in descending order:
{'a': 3, 'b': 2, 'c': 1}

In [84]:
# Illustrate differnt set operations

set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
# Union:
union_set = set1.union(set2)
print(union_set)  # {1, 2, 3, 4, 5, 6}
# Union alternate:
union_set = set1 | set2
print(union_set)  # {1, 2, 3, 4, 5, 6}

# Intersection:
intersection_set = set1.intersection(set2)
print(intersection_set)  # {3, 4}
# Intersection alternate:
intersection_set = set1 & set2
print(intersection_set)  # {3, 4}

# Difference:
difference_set = set1.difference(set2)
print(difference_set)  # {1, 2}
# Difference alternate:
difference_set = set1 - set2
print(difference_set)  # {1, 2}

#Symmetric Difference:
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # {1, 2, 5, 6}
#Symmetric Difference alternate:
symmetric_difference_set = set1 ^ set2
print(symmetric_difference_set)  # {1, 2, 5, 6}

# Subset:
set1 = {1, 2, 3, 4}
set2 = {1, 2}
print(set2.issubset(set1))  # True
# Subset alternate:
print(set2 <= set1)  # True

#Superset: 
print(set1.issuperset(set2))  # True
#Superset alternate:
print(set1 >= set2)  # True

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}
{3, 4}
{3, 4}
{1, 2}
{1, 2}
{1, 2, 5, 6}
{1, 2, 5, 6}
True
True
True
True

In [85]:
# Checking if string is palindrome or not

def is_palindrome(s):
    s = s.replace(" ", "").lower() # remove whitespaces and convert to lowercase
    return s == s[::-1] # check if reversed string is equal to original string

print(is_palindrome("racecar"))
print(is_palindrome("hello world"))
print(is_palindrome("A man a plan a canal Panama"))

True
False
True

In [86]:
# Remove punchuation from string

import string

def remove_punctuation(s):
    return "".join(c for c in s if c not in string.punctuation)


s1 = "Hello, World!"
s2 = "Let's remove some punctuation!"
print(remove_punctuation(s1)) 
print(remove_punctuation(s2))

Hello World
Lets remove some punctuation

In [87]:
# Sorting words of string in alphabetical order

def sort_words(s):
    words = s.split() # split the string into a list of words
    return " ".join(sorted(words)) # sort the list of words and join them back into a string


s = "This is a test string to sort words in alphabetical order"
print(sort_words(s))

This a alphabetical in is order sort string test to words

In [88]:
# Counting no of vowels in the statement 

def count_vowels(s):
    vowels = "aeiouAEIOU" 
    count = 0
    for c in s:
        if c in vowels:
            count += 1
    return count

s = "This is a test string to count vowels in Python"
print(count_vowels(s))

12

In [89]:
# Checking if two strings are anagram or not

def is_anagram(s1, s2):
    s1 = s1.lower() 
    s2 = s2.lower()
    s1_sorted = sorted(s1) 
    s2_sorted = sorted(s2)
    return s1_sorted == s2_sorted 

s1 = "listen"
s2 = "silent"
print(is_anagram(s1, s2)) 

s1 = "triangle"
s2 = "integral"
print(is_anagram(s1, s2))

True
True

In [90]:
# Counting occurances of each word in a sentence

def count_words(sentence):
    words = sentence.split() 
    counts = {} 
    for word in words:
        if word in counts:
            counts[word] += 1 
        else:
            counts[word] = 1 
    return counts


sentence = "the quick brown fox jumps over the lazy dog"
counts = count_words(sentence)
print(counts)

{'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [91]:
# Reversing all the words of the sentence

def reverse_words(sentence):
    words = sentence.split() 
    reversed_words = [word[::-1] for word in words] 
    reversed_sentence = " ".join(reversed_words) 
    return reversed_sentence

sentence = "the quick brown fox jumps over the lazy dog"
reversed_sentence = reverse_words(sentence)
print(reversed_sentence)

eht kciuq nworb xof spmuj revo eht yzal god